<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="openTestWeb">
    <test name="OpenWeb">

        <classes>

            <class name="com.raxtone.test.OpenTest"/>

            <class name="com.raxtone.test.TestLog4j"/>

        </classes>

    </test>



</suite>

